@font-face {
  font-family: 'DEMON_NI';
  src: url(../fontdemon/DEMON_NI.TTF); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* img {
  width: 195px;
  height: 195px; }

html {
  scroll-behavior: smooth; }

body {
  background-color: black;
  background-image: url(../img/trama.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px; }
  body main {
    background-color: pink;
    text-align: center;
    width: 70%;
    height: 100%; }
    @media (orientation: landscape) {
      body main {
        height: 150%; } }
    body main header {
      font-family: DEMON_NI;
      display: flex;
      flex-direction: column;
      letter-spacing: 5px; }
      body main header h1 {
        font-size: 65px;
        margin: 10px;
        text-align: left; }
        @media (max-width: 762px) {
          body main header h1 {
            font-size: 45px; } }
      body main header h2 {
        font-size: 40px;
        margin: 10px;
        text-align: right; }
        @media (max-width: 762px) {
          body main header h2 {
            font-size: 28px; } }
    body main nav {
      position: sticky;
      top: 3px;
      left: 0;
      background: #eea3a3;
      border-radius: 10px;
      box-shadow: black 0 0 15px;
      margin: 5px; }
      body main nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        align-items: center; }
      body main nav li {
        margin: 8px 14px;
        padding: 0 3px; }
        @media (max-width: 762px) {
          body main nav li {
            margin: 5px; } }
      body main nav a {
        font-size: 25px;
        text-decoration: none;
        padding: 6px; }
        @media (max-width: 762px) {
          body main nav a {
            font-size: 18px; } }
        body main nav a:hover {
          border: red 1px solid;
          border-radius: 5px;
          padding: 2px 5px;
          color: azure;
          background-color: black;
          transition: .1s all; }
    body main section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 1366px) {
        body main section {
          flex-direction: row; } }
      body main section ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin: 25px; }
        @media (max-width: 762px) {
          body main section ul {
            flex-direction: column; } }
        @media (min-width: 1366px) {
          body main section ul {
            margin: 0; } }
      body main section li {
        border: black solid 3px;
        border-radius: 10px;
        margin: 15px; }
        body main section li div img {
          background-color: blueviolet;
          border: solid black 1px; }
        body main section li p {
          padding: 3px; }
        body main section li button {
          color: white;
          background-color: black;
          border: 1px solid red;
          border-radius: 10px;
          padding: 3px 5px;
          margin: 2px 3px; }
        @media (max-width: 762px) {
          body main section li {
            margin-top: 20px; } }
    body main footer {
      background: #eea3a3;
      border-radius: 10px;
      box-shadow: black 0 0 15px;
      margin: 15px 5px 5px 5px;
      font-size: 20px; }
      @media (max-width: 700px) {
        body main footer {
          font-size: 18px; } }

.body-form {
  height: 100vh; }
  .body-form .main-form .h1-form {
    font-size: 45px; }
    @media (max-width: 762px) {
      .body-form .main-form .h1-form {
        font-size: 28px; } }
  .body-form .main-form .form-container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .body-form .main-form .form-container .form {
      height: 20rem;
      width: 35rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: black;
      opacity: .8;
      border: 2px solid red;
      border-radius: 15px;
      margin: 15px;
      padding: 25px; }
      @media (max-width: 700px) {
        .body-form .main-form .form-container .form {
          width: auto;
          height: auto; } }
      @media (orientation: landscape) {
        .body-form .main-form .form-container .form {
          height: 150%; } }
      .body-form .main-form .form-container .form ul {
        justify-content: center;
        list-style: none; }
        .body-form .main-form .form-container .form ul button {
          color: white;
          background-color: #4d4d4d;
          border: 1px solid red;
          border-radius: 15px;
          padding: 5px 10px;
          box-shadow: #4d4d4d 0 0 10px; }
        .body-form .main-form .form-container .form ul li {
          margin: 10px 10px; }
          .body-form .main-form .form-container .form ul li label {
            margin: 6px 16px; }
  .body-form .main-form .footer-form {
    width: 69.5%;
    position: absolute;
    bottom: 0;
    text-align: center; }
    @media (max-width: 762px) {
      .body-form .main-form .footer-form {
        font-size: 14px; } }
