@font-face {
    font-family:'DEMON_NI'  ;
    src: url(../fontdemon/DEMON_NI.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* img {
    width: 195px;
    height: 195px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    background-image: url(../img/trama.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;


    main {
        background-color: pink;
        text-align: center;
        width: 70%;
        height: 100%;
        @media (orientation: landscape) {
            height: 150%;
            }

        header {font-family: DEMON_NI;
            display: flex;
            flex-direction: column;
            letter-spacing: 5px;
            h1 {font-size: 65px;
                margin: 10px;
                text-align: left;
                @media (max-width: 762px){font-size: 45px;}
            }
            h2{font-size: 40px; 
               margin: 10px;
               text-align: right;
                @media (max-width: 762px){font-size: 28px;}
            }
        }
        nav {position: sticky;
            top: 3px;
            left: 0;
            background: rgb(238, 163, 163);
            border-radius: 10px;
            box-shadow: black 0 0 15px;
            margin: 5px;
            ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: space-evenly;
                align-items: center;
            }
            li {
                margin: 8px 14px;
                padding: 0 3px;
                @media (max-width: 762px){margin: 5px;}
            }
            a {
                font-size: 25px;
                text-decoration: none;
                padding: 6px;
                @media (max-width: 762px){font-size: 18px;}
            &:hover {border: red 1px solid;
                    border-radius: 5px;
                    padding: 2px 5px;
                    color:azure;
                    background-color: rgb(0, 0, 0);
                    transition: .1s all;
                   }
            }
        }
        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media(min-width: 1366px){flex-direction: row;}
            ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: center;
                align-items: center;
                margin: 25px;
                @media(max-width: 762px){flex-direction: column;}
                @media(min-width: 1366px){margin: 0;}
                }
                li {border: black solid 3px;
                    border-radius: 10px;
                    margin: 15px;
                    div img {background-color: blueviolet;
                        border: solid black 1px;}
                     p {padding: 3px;}
                     button {
                         color: white;
                         background-color: black;
                         border: 1px solid red;
                         border-radius: 10px;
                         padding: 3px 5px;
                         margin: 2px 3px;
                     }
                     @media(max-width: 762px){margin-top: 20px;}
                 }
        }
        footer {
            background: rgb(238, 163, 163);
            border-radius: 10px;
            box-shadow: black 0 0 15px;
            margin: 15px 5px 5px 5px;
            font-size: 20px;
            @media (max-width: 700px){font-size: 18px;}
        }

    }



}
//index2
.body-form {

        height: 100vh;
        .main-form{
           .h1-form{font-size: 45px;
                @media (max-width:762px){font-size: 28px;}
        }
           .form-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .form {
                            height: 20rem;
                            width: 35rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            background-color: black;
                            opacity: .8;
                            border: 2px solid red;
                            border-radius: 15px;
                            margin: 15px;
                            padding: 25px;
                            @media(max-width: 700px){
                                width: auto;
                                height: auto;}
                                @media (orientation: landscape) {
                                    height: 150%;
                                    }
                            ul {
                                justify-content: center;
                                list-style: none;
                                button {
                                    color: white;
                                    background-color: rgb(77, 77, 77);
                                    border: 1px solid red;
                                    border-radius: 15px;
                                    padding: 5px 10px;
                                    box-shadow: rgb(77, 77, 77)  0 0 10px;
                                }
                                li{
                                    margin: 10px 10px;
                                    label {
                                        margin: 6px 16px;

                                    }
                                }
                            
                            }       
                    }
            }
            .footer-form{
                width: 69.5%;
                position: absolute;
                bottom: 0;
                text-align: center;
                @media (max-width: 762px){
                    font-size: 14px;
                }
                    
                

            }
        }            



}



